/* Resetear estilos por defecto */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    p{
        color: #FFF;
    }
      

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b100a2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }      

    .logo img {
    height: 80px;
    border-radius: 50%;
    }
    
    .search-box {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .search-box input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    }
    
    .search-box button {
    background-color: #3483FA;
    color: #FFF;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    }
    
    nav ul {
    display: flex;
    }
    
    nav li {
    margin-right: 20px;
    }
    
    nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    }
    
    nav a:hover {
    color: #3483FA;
    }
    
    /* Estilos para el cuerpo de la página */
    main {
        padding: 20px;
        background-image: url(fondo\ negro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .carousel {
    /* Aquí irían los estilos para el carrusel */
    }
    
    .categories {
    margin-top: 50px;
    }
    
    .categories h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    }
    
    .category-box {
        width: 800px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0 2px 4px rgba(2, 2, 2, 0.2);
        border-radius: 10px;
        text-align: left;
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
      }
    
    #remeras {
        background-image: url('remeras.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #pantalones {
        background-image: url('pantalones.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        float: right;
        clear: right;
    }

    .col:nth-child(3) .category-box {
        clear: both;
      }
      

    #abrigos {
        background-image: url('abrigos.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .category-box:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .productos-destacados {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
      }
      
      .producto {
        flex: 0 0 auto;
        margin-right: 20px;
        width: 250px;
        background-color: #FFF;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      
      .producto img {
        width: 100%;
        border-radius: 10px;
      }
      
      .producto h3 {
        font-size: 1.2em;
        margin: 10px 0;
      }
      
      .producto p {
        color: gray;
        font-size: 0.9em;
      }
      
    
    .sponsored-products {
    /* Aquí irían los estilos para los productos patrocinados */
    }
    
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #FFF;
  }
  
  footer nav ul {
    display: flex;
  }
  
  footer nav li {
    margin-right: 20px;
  }
  
  footer nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
  }
  
  footer nav a:hover {
    text-decoration: underline;
  }
  